<div class="data-container">
    <div class="custom-tittles-background">
        <h1 class="custom-tittles">Registro</h1>
    </div>
    <div class="data-contain">
        <div class="text-center">
            <h4 style="margin-bottom:5px;">Seleccione el tipo de usuario que desea registrar:</h4>
            <div class="btn-group" data-toggle="buttons">
                <label ng-click="registryType=1" class="btn btn-info my-learn-btn third-color active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Estudiante
                </label>
                <label ng-click="registryType=2" class="btn btn-info my-learn-btn third-color">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Profesor
                </label>
                <label ng-click="registryType=3" class="btn btn-info my-learn-btn third-color">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Empresa
                </label>
            </div>

        </div>
        
        <div ng-show="registryType==1" ng-include src="'../registry/student-registry.html'"></div>
        <div ng-show="registryType==2" ng-include src="'../registry/professor-registry.html'"></div>
        <div ng-show="registryType==3" ng-include src="'../registry/enterprise-registry.html'"></div>
    </div>
</div>
