
  <div class="container">

    <div class="login-form">

        <div class="btn-group" role="group" aria-label="...">

            <a href="#/profile" class="btn btn-default">Ver perfil</a>
            <a href="#/createcourse" class="btn btn-default">Crear curso</a>
            <a href="#/auctionarea" class="btn btn-default">Area de subasta</a>
            <a href="#/admin" class="btn btn-default">Administracion</a>
            <a href="#/course" class="btn btn-default">Curso</a>
            <a href="#/searchcourse" class="btn btn-default">Buscar cursos de mi universidad</a>
  
        </div>

        <div class="btn-group" role="group" aria-label="...">

            <a href="#/project" class="btn btn-default">Proyecto freelance</a>
            <a href="#/searchproject" class="btn btn-default">Buscar proyecto freelance</a>

        </div>

            <img src="../res/my-learn-logo.jpg" alt="" class="center-block" />

            <br>
            <a href="#" style="width:300px" ng-click="login('google')"><img src="../res/google-login.svg" width="300" alt="" class="center-block"></a>
            <br>
            <a href="#"  style="width:300px" ng-click="login('dropbox')"><img src="../res/dropbox-login.svg" width="300" alt="" class="center-block"></a>
            <br />
            <a href="#/registry" class="btn btn-info my-learn-btn primary-color center-block" style="width:200px;">Registrar</a>
        </div>
  </div>



